In [3]:
import pandas as pn

In [4]:
# create a table
data={
    "Name":["a", "b", "c"], #col
    "Age":[23,45,76]  #col
}
df=pn.DataFrame(data)
df

  Name  Age
0    a   23
1    b   45
2    c   76

In [5]:
# read
df=pd.read_csv("./data.csv")
df

        Name   Age   Salary
0      Hasan    32   1000.0
1     Ali.23  3000      NaN
2      Minoo    21  89000.0
3  Amirmehdi    23  70000.0
4     Kimiam    19   2000.0
5     Romina     7  23000.0

In [6]:
# ساختار کلی جدول و نشون میده و 5 سطر اول شو 
df.head()

        Name   Age   Salary
0      Hasan    32   1000.0
1     Ali.23  3000      NaN
2      Minoo    21  89000.0
3  Amirmehdi    23  70000.0
4     Kimiam    19   2000.0

In [21]:
# about the table , average 
import pandas as pd

# نمونه داده
data = {
    "Name": ["Ali", "Sara", "Reza"],
    "Salary": [1000, 1200, 1100]
}

df = pd.DataFrame(data)

# حذف فاصله احتمالی در نام ستون‌ها (پیشگیری از خطا)
df.columns = df.columns.str.strip()

# آماری از داده‌ها
print(df.describe())

# دسترسی به ستون‌ها
print(df["Name"])
print(df["Salary"])

# خانه خاص: سطر 2، ستون 1
print(df.iloc[2, 1])

# کل سطر دوم
print(df.iloc[2, :])

       Salary
count     3.0
mean   1100.0
std     100.0
min    1000.0
25%    1050.0
50%    1100.0
75%    1150.0
max    1200.0
0     Ali
1    Sara
2    Reza
Name: Name, dtype: object
0    1000
1    1200
2    1100
Name: Salary, dtype: int64
1100
Name      Reza
Salary    1100
Name: 2, dtype: object

In [25]:
# filter
data = {
    "Name": ["Ali", "Sara", "Reza"],
    "Salary": [1000, 1200, 1100]
}
df = pd.DataFrame(data)

filter_data=df[["Salary"]>2500
filter_data

Empty DataFrame
Columns: [Name, Salary]
Index: []

In [12]:
# sort
sort_data=df.sort_values("Salary" , ascending=False)   #false=زیاد به کم    true= کم به زیاد

KeyError: 'Salary'

In [ ]:
# subset  یه بخش مشخصی لاز یدتا هام باشه 
subset=df.loc[2:4, ["Name", "Age"]]
subset

:

In [ ]:
# group
df_group=df.groupby("Age")
df_group
df_group.count()

:

In [ ]:
# add a new column
df["test"]=[1,2,3,4,5,6,7]
df

# delete column  
df.drop("test" , axis=1 , inplace=True)

:

In [ ]:
# add row 
df.loc[len(df)]={
    "Name":"test",
    "Age":23
}

df

:

In [ ]:
df.isna()
df.dropna()    #حذف اون گزینه ای که nan هست
df1=df.dropna(0)
df1
df

:

In [ ]:
df.to_csv("new data csv")